header{
  background-image: url('../images/image-hero-mobile.jpg');
  background-repeat: no-repeat;
  height: 400px;
}

.header-secao{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:40px 0px
}

.menu{
  display: none;
}

@media (min-width: 1200px){
  header {
    background-image: url('../images/image-hero-desktop.jpg');
  }
  .menu-mobile {
    display: none;
  }
  .menu{
    display: flex;
    gap: 20px;
  }
  .menu li a{
    color: var(--preto);
  }
  .menu li a:hover{
    color: var(--verdeEscuro);
  }
} 