.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: scroll ;
}
.modal::-webkit-scrollbar { 
	display: none;
}
.modal.ativo {
  display: grid;
}

.div-modal{
  margin: 10px auto;
  width: 500px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
}


.fechar-modal {
  font-size: 2rem;
  font-weight: 700;
  border: none;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
  color: #aaa;
}

.tituloBotao{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}



.modal-tipos-contribuicao {
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}


.modal-grid-input{
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: flex-start;
  gap: 5px 20px;
}
.modal-grid-input h3{
  font-size: 1rem;

}

.valor-contribuicao{
  display: inline-block;
  margin: 5px 0px;
}

.modal-tipos-contribuicao p{
   margin: 5px 0px; 
}
.numeros-modal{
  font-size: 1.5rem;
  font-weight: 700;
}

.valor-contribuir {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 30px;
  text-align: center;
  display: none;
}

.valor-contribuir.inputAtivo{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}


.valor-contribuir p {
  font-size: 0.75rem;
  display: inline-block;
  text-align: center;
}

.modal-tipos-contribuicao p {
  grid-column: 1 /-1;
}

.valorContribuido {
  width: 80px;
  height: 43px;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding-left: 30px;
  font-size: 1.125rem;
  font-weight: 700;
}

.input-modal {
  width: 20px;
  height: 20px;
}

.input-modal:active {
  border: none;
}

.restantes-modal {
  grid-column: 2;
  justify-self: right;
}

.contribuicao-input{
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 10px;
}

.modal-tipos-contribuicao.inativo h3{
  color: #727272;
 }
.modal-tipos-contribuicao.inativo .valor-contribuicao{
   color: #a6cac6;
  }
.modal-tipos-contribuicao.inativo p{
   color: #ababab;
  }
.modal-tipos-contribuicao.inativo .numeros-restantes{
   color: #727272;
  }
.modal-tipos-contribuicao.inativo button{
   background-color: #cbcbcb;
   cursor: default;
  }

@media (max-width: 500px ){
    .div-modal{
      margin: 10px auto;
      width: 320px;
  }
   .valor-contribuir p{
    display: none;
  }
  .valor-contribuir.inputAtivo {
    justify-content: space-around;
 } 
}