.modal {
  position: relative;
  display: block;
}
.modal h3{
  margin-bottom: 20px;
}

.modal.inativo {
display: none;
}
.fechar-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
  color: #aaa;
}

.modal-tipos-contribuicao {
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
}


.modal-grid-input{
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: flex-start;
  gap: 20px;
}
.modal-grid-input h3{
  font-size: 1rem;

}

.valor-contribuicao{
  display: inline-block;
  margin-bottom: 20px;
}

.modal-tipos-contribuicao p{
  margin-bottom: 20px;
}
.numeros-modal{
  font-size: 1.5rem;
  font-weight: 700;
}

.valor-contribuir {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 30px;
  text-align: center;

}

.valor-contribuir p {
  display: inline-block;
  text-align: center;
}

.valorContribuido {
  width: 80px;
  height: 43px;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding-left: 30px;
  font-size: 1.125rem;
  font-weight: 700;
}



.input-modal {
  width: 20px;
  height: 20px;
}

.input-modal:active {
  border: none;
}


.contribuicao-input{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.modal-tipos-contribuicao.inativo h3{
  color: #727272;
 }
.modal-tipos-contribuicao.inativo .valor-contribuicao{
   color: #a6cac6;
  }
.modal-tipos-contribuicao.inativo p{
   color: #ababab;
  }
.modal-tipos-contribuicao.inativo .numeros-restantes{
   color: #727272;
  }
.modal-tipos-contribuicao.inativo button{
   background-color: #cbcbcb;
   cursor: default;
  }

  @media (min-width: 1200px ){
    .titulo-modal{
      display: flex;
      gap: 20px;
    }
    .valor-contribuir{
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
    .restantes-modal{
      text-align: end;
    }
  }
